/* Estilos gerais */
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 194, 137);
}

header {
    background-color: rgb(212, 124, 41);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 170px;
    width: 170px;
    border-radius: 10px;
}

.Agro, .Shop {
    font-size: 24px;
}

.search_bar {
    margin-left: auto;
    display: flex;
    align-items: center;
}

.search_bar .input {
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
    width: 300px;
}

.search_bar .botao {
    padding: 10px;
    border: none;
    border-radius: 50%;
    background-color: rgb(212, 124, 41);
    cursor: pointer;
}

.user_actions {
    margin-left: 10px;
}

.user_actions .conta {
    padding: 10px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgb(212, 124, 41);
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
    transition: transform 0.2s;
}

.product-card:hover {
    transform: scale(1.05);
}

.product-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info h3 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-info p {
    padding: 0 10px;
    font-size: 1em;
    color: #555;
}

.product-info button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 124, 41);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.product-info button:hover {
    background-color: rgb(180, 90, 20);
}

footer {
    background-color: rgb(212, 124, 41);
    padding: 20px;
    text-align: center;
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Media Query para telas menores */
@media screen and (max-width: 768px) {
    .Agro, .Shop {
        font-size: 20px;
    }

    .search_bar {
        margin-left: 10px;
    }

    .user_actions {
        display: none;
    }

    .product-card {
        width: calc(50% - 40px);
    }
}

/* Media Query para telas maiores */
@media screen and (min-width: 1200px) {
    .Agro, .Shop {
        font-size: 32px;
    }

    .search_bar {
        margin-left: 20px;
    }

    .user_actions {
        display: flex;
    }

    .product-card {
        width: calc(25% - 40px);
    }
}
