body{
    margin: auto;
    background-color: rgb(212, 124, 41);
}

header  .logo{
    height: 150px;
    width: 150px;
}

header .AgroShop{
    font-size: 110px;
    font-family: 'Courier New', Courier, monospace;
}
