  /* Grid de produtos */
  .product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Estilização do cartão de produto */
  .product-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    transition: transform 0.2s;
    margin: 20px;
  }
  
  .product-card:hover {
    transform: scale(1.05);
  }
  
  /* Imagem do produto */
  .product-info img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  /* Título do produto */
  .product-info h3 {
    font-size: 1.5em;
    margin: 10px 0;
  }
  
  /* Descrição do produto */
  .product-info p {
    padding: 0 10px;
    font-size: 1em;
    color: #555;
  }
  
  /* Botão de detalhes */
  .product-info button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: rgb(212, 124, 41);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .product-info button:hover {
    background-color: rgb(180, 90, 20);
  }